@import "./themes/mocha.css";

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 0 8px;
}

window#waybar {
    background: transparent;
    color: @text;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: @surface0;
    border-radius: 12px;
    padding: 0 10px;
    margin: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* --- Left --- */
#workspaces button {
    background: @surface1;
    color: @overlay1;
    border-radius: 6px;
    margin: 2px;
    padding: 0 6px;
}
#workspaces button.active {
    background: @surface0;
    color: @lavender;
}
#workspaces button.urgent {
    background: @red;
    color: @base;
}

/* --- Center --- */
#clock {
    color: @lavender;
    font-weight: bold;
}

/* --- Right --- */
#cpu {
    color: @yellow;
}
#memory {
    color: @mauve;
}
#custom-temperature {
    color: @peach;
}
#network {
    color: @blue;
}
#battery {
    color: @green;
}
#pulseaudio {
    color: @teal;
}
#custom-power {
    color: @red;
}
